<html>

<head>
  <title>Profile Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/user.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-md navbar-light bg-faded d-flex">

    <a class="navbar-brand" href="/">Leader Boards</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">





      <ul class="navbar-nav ml-auto" id="userDropdown">

        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/user">User Page</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" onClick="removeStorage()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="body-content border">
    <div class="container mx-auto mt-3 border-bottom">
      <div class="row">

        <div class="col">
          <h1 id="userName">USER PAGE</h1>
        </div>

        <div class="col">
          <!-- NEW BOARD button -->
          <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalSubscriptionForm">New Board</button>

          <!-- NEW BOARD MODAL -->

            <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Subscribe</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      <input type="text" id="form3" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="form3">Board Name</label>
                    </div>

                    <div class="md-form mb-4">
                      <i class="fas fa-envelope prefix grey-text"></i>
                      <input type="text" id="form2" class="form-control validate">
                      <label data-error="wrong" data-success="right" for="form2">Board Purpose</label>
                    </div>

                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-indigo close" id="createBoard" data-dismiss="modal">Create Board <i class="fas fa-paper-plane-o ml-1"></i></button>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>


    <div class="container mx-auto">
      <p id="userWelcome">THIS IS THE USER PAGE</p>

      <a href="/logout" onClick="removeStorage()">Log Out</a>
    </div>


  </div>


</body>

</html>
